.navbar-panel {
  background-color: #00000019;
  width: 100%;
  min-height: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100vw;
   margin: 0;
  padding: 0;
}
nav ul {
  display: flex;
  list-style: none;
  margin: 10;
  padding: 30;
   justify-content: center;
}

nav li {
  margin-right: 85px;
}

nav a {
  color: black;              
  text-decoration: none;     
  border: 1px solid black;  
  padding: 10px 30px;        
  border-radius: 40px;       
  display: flex;               
  align-items: center;         
  justify-content: center;     
  height: 60px; 
  text-align: center;        
  line-height: 1.2;
}
nav a.active {
  background-color: #ffcdcd;
  font-weight: bold;
  border-color: #ffd2d2;
}
#head h1 {
      color: black;
      font-size: 98px;
      font-family: Arial, Helvetica, sans-serif;
      text-align: center;
    }
#head h2 {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 49px;
}  
  
.container,
.content-container,
.main-content {
  width: 100vw;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  background-color: #7cbdd0;
   margin: 0;
   display: flex;
  flex-direction: column;
  min-height: 100vh; 

}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.heading {
  text-align: center;
  margin: 32px 0;
}
animal-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 30px;
}
.animal-card {
  background: #fff;
  border-radius: 12px;
  box-shadow: 0 0 10px #eee;
  width: 100%;        
  max-width: 300px;   
  padding: 16px;
  margin-bottom: 32px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.card-footer {
  background-color: #00000019;
  border: none;
  width: 100vw;
  min-height: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  position: relative;
  left: 50%;
  right: 50%;
  transform: translateX(-50%);
}
.main-content {
  flex: 1; 
}